body {
  background-color: #62ebe4; 
  color: #bc83e2;            
}
h1 {
  color: rgb(75, 75, 250); 
}
p {
  font-family: Arial, sans-serif; 
}
h1 {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto; 
  display: block;
}